<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Spotify Search</title>
        <meta name="description" content="Spotify web search. Search for a song, album, or artist">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }</style>
    </head>
    <body ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" ng-controller="SearchController">

                    <h1>Spotify Search</h1>

                    <input ng-model="searchBox" class="search__box form-control input-lg" placeholder="Search for a song, album, or artist" type="text" autofocus>

                    <br>

                    <div ng-if="items.length == 0">
                        <p class="lead">"{{ searchBox }}" was not found.</p>
                    </div>

                    <div class="search__results">
                        <div ng-repeat="item in items" class="">
                            <hr>

                            <div class="row item">
                                <div class="col-sm-2">
                                    <img class="preview img-thumbnail" data-preview="{{ item.preview_url + '.mp3' }}" src="{{ item.album.images[2].url }}" alt="{{ item.album.name }}">
                                </div>

                                <div class="col-sm-5">
                                    <p><strong>{{ item.name }} ({{ item.duration_ms | millSecondsToTimeString }})</strong></p>
                                    {{ item.album.name }}
                                </div>

                                <div class="col-sm-5">
                                    <span ng-repeat="artist in item.artists">
                                        {{ artist.name }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

        <script src="app/app.js"></script>
        <script src="app/filters/millisecondsFilter.js"></script>
        <script src="app/controllers/SearchController.js"></script>
    </body>
</html>
